<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KD20 | Gallery</title>
    <link rel="shortcut icon" href="../asset/logo/icon.webp" type="image/x-icon" />
    <link rel="stylesheet" href="../css/kd.css" />
  </head>

  <body>
    <header id="header">
      <div class="container">
        <h1 class="welcome">Welcome to Our Page .....</h1>
      </div>
    </header>
    <nav id="nav">
      <div class="container">
        <div class="menu">
          <h3 class="nav-brand">KD20</h3>
          <ul class="nav-menu">
            <li class="nav-list"><a href="../index.html">Home</a></li>
            <li class="nav-list"><a href="story.html">History</a></li>
            <li class="nav-list"><a href="team.html">Team</a></li>
            <li class="nav-list"><a href="kd.html">Gallery</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main id="main">
      <div class="container">
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 AHMED.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-01.36.08.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 AIN.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-11.13.55.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 AIM.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-10.32.32.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 ARI.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-03-05.02.06.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 AYAS.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-12.32.21.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 ANGGUN.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-12.31.11.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 CIT.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-05-07.04.06.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 FUL.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-12.45.12.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 IKRAM.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-05-08.16.08.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 IMA.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-12.42.40.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 IMON.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-11.57.56.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 KAI.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-12.05.33.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 LONG.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-12.13.14.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 MONIKE.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-05-08.24.08.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 NAL.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-11.04.36.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 NIAR.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-01.30.27.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 NISA.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-11.19.13.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 NUR.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-11.43.42.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 OVA.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-11.45.51.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 RATIH.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-10.29.35.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 UCI.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-05-07.53.49.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 UFA.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-01.26.57.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 ULI.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-10.35.18.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 UNI.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-12.38.44.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 UPING.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-11.21.33.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 UTI.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-11.55.16.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 WAN.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-11.16.00.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 YADIN.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-05-08.19.17.webp" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="../img/hitam/KD020 AL.webp" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="../asset/dist/PicsArt_01-04-10.39.15.webp" alt="Picsart KD" />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
