<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KD20 | Team</title>
    <link rel="stylesheet" href="../css/kd.css" />
  </head>

  <body>
    <header id="header">
      <div class="container">
        <h1 class="welcome">Welcome to Our Page .....</h1>
      </div>
    </header>
    <nav id="nav">
      <div class="container">
        <div class="menu">
          <h3 class="nav-brand">KD20</h3>
          <ul class="nav-menu">
            <li class="nav-list"><a href="../index.html">Home</a></li>
            <li class="nav-list"><a href="story.html">History</a></li>
            <li class="nav-list"><a href="team.html">Team</a></li>
            <li class="nav-list"><a href="kd.html">Gallery</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main id="main">
      <div class="container">
        <div class="card">
          <div class="card-front">
            <img src="KD020 AHMED.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-01.36.08.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 AIN.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-11.13.55.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 AIM.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-10.32.32.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 ARI.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-03-05.02.06.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 AYAS.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-12.32.21.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 ANGGUN.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-12.31.11.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 CIT.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-05-07.04.06.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 FUL.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-12.45.12.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 IKRAM.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-05-08.16.08.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 IMA.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-12.42.40.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 IMON.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-11.57.56.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 KAI.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-12.05.33.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 LONG.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-12.13.14.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 MONIKE.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-05-08.24.08.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 NAL.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-11.04.36.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 NIAR.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-01.30.27.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 NISA.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-11.19.13.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 NUR.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-11.43.42.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 OVA.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-11.45.51.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 RATIH.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-10.29.35.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 UCI.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-05-07.53.49.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 UFA.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-01.26.57.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 ULI.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-10.35.18.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 UNI.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-12.38.44.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 UPING.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-11.21.33.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 UTI.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-11.55.16.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 WAN.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-11.16.00.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 YADIN.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-05-08.19.17.jpg" alt="Picsart KD" />
          </div>
        </div>
        <div class="card">
          <div class="card-front">
            <img src="KD020 AL.jpg" alt="Picsart KD" />
          </div>
          <div class="card-back">
            <img src="asset/PicsArt_01-04-10.39.15.jpg" alt="Picsart KD" />
          </div>
        </div>
      </div>
    </main>
    <!-- <footer id="foooter">3</footer> -->
  </body>
</html>
