<tr><td>1</td><td>Andi Saputra</td><td><img class="cover" src="PicsArt_01-02-03.04.12.png" alt="Cover 1"></td></tr>
  <tr><td>2</td><td>Siti Nurhaliza</td><td><img class="cover" src="PicsArt_01-02-03.11.19.png" alt="Cover 2"></td></tr>
  <tr><td>3</td><td>Rizky Ramadhan</td><td><img class="cover" src="PicsArt_01-02-03.30.47.png" alt="Cover 3"></td></tr>
  <tr><td>4</td><td>Dewi Lestari</td><td><img class="cover" src="PicsArt_09-03-07.12.03.png" alt="Cover 4"></td></tr>
  <tr><td>5</td><td>Fajar Maulana</td><td><img class="cover" src="PicsArt_09-03-07.13.51.png" alt="Cover 5"></td></tr>
  <tr><td>6</td><td>Nur Aini</td><td><img class="cover" src="PicsArt_09-03-10.45.43.png" alt="Cover 6"></td></tr>
  <tr><td>7</td><td>Ilham Fauzi</td><td><img class="cover" src="PicsArt_12-26-02.16.18.png" alt="Cover 7"></td></tr>
  <tr><td>8</td><td>Melati Putri</td><td><img class="cover" src="PicsArt_12-26-10.48.12.png" alt="Cover 8"></td></tr>
  <tr><td>9</td><td>Bayu Pratama</td><td><img class="cover" src="PicsArt_12-26-10.51.10.png" alt="Cover 9"></td></tr>
  <tr><td>10</td><td>Rina Kartika</td><td><img class="cover" src="PicsArt_12-26-10.52.34.png" alt="Cover 10"></td></tr>
  <tr><td>11</td><td>Joko Santoso</td><td><img class="cover" src="PicsArt_12-26-10.58.05.png" alt="Cover 11"></td></tr>
  <tr><td>12</td><td>Lina Marlina</td><td><img class="cover" src="PicsArt_12-26-11.02.55.png" alt="Cover 12"></td></tr>
  <tr><td>13</td><td>Ahmad Zulkifli</td><td><img class="cover" src="PicsArt_12-26-11.05.29.png" alt="Cover 13"></td></tr>
  <tr><td>14</td><td>Sarah Amelia</td><td><img class="cover" src="PicsArt_12-26-11.10.54.png" alt="Cover 14"></td></tr>
  <tr><td>15</td><td>Yusuf Hidayat</td><td><img class="cover" src="PicsArt_12-26-11.16.48.png" alt="Cover 15"></td></tr>
  <tr><td>16</td><td>Fitriani</td><td><img class="cover" src="PicsArt_12-26-11.24.04.png" alt="Cover 16"></td></tr>
  <tr><td>17</td><td>Rendy Saputra</td><td><img class="cover" src="PicsArt_12-26-11.28.45.png" alt="Cover 17"></td></tr>
  <tr><td>18</td><td>Desi Anggraini</td><td><img class="cover" src="PicsArt_12-26-11.43.38.png" alt="Cover 18"></td></tr>
  <tr><td>19</td><td>Tommy Wijaya</td><td><img class="cover" src="PicsArt_24-09-28_15-36-57-726.png" alt="Cover 19"></td></tr>