<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KD20 | History</title>
    <link rel="stylesheet" href="../css/kd.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <nav id="nav">
      <div class="container">
        <div class="menu">
          <h3 class="nav-brand">KD20</h3>
          <ul class="nav-menu">
            <li class="nav-list"><a href="../index.html">Home</a></li>
            <li class="nav-list"><a href="story.html">History</a></li>
            <li class="nav-list"><a href="team.html">Team</a></li>
            <li class="nav-list"><a href="kd.html">Gallery</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <article id="kartu">
      <div class="container">
        <div class="kolom1">
          <h1 class="top-judul">The History</h1>
        </div>
        <div class="flashcard">
          <button type="button" class="flip-btn" onclick="flipCard(this)">i</button>
          <div class="card-inner">
            <div class="box box-front">
              <!-- <img class="gambar-front" src="ANstagram ABEX.png" alt="Kartu Belakang" /> -->
            </div>
            <div class="box box-back">
              <img class="gambar-back" src="../asset/ANstagram Maruf.png" alt="ANstagram" />
            </div>
          </div>
        </div>
        <h3 class="alt-img">Klik salah satu avatar di bawah</h3>
      </div>
    </article>
    <!-- Artile Prview -->
    <main id="main">
      <div class="kolom1">
        <div class="container">
          <div class="custom-badge">
            <img src="../asset/PicsArt_01-02-02.56.08.png" alt="Zufaldi Risyad" class="badge-avatar" name="Aldi" />
            <span class="badge-content">AL</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_01-02-02.59.55.png" alt="Ahmad Kurniawan" class="badge-avatar" name="Maruf" />
            <span class="badge-content">Maruf</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_01-02-03.11.19.png" alt="Ari Satria Ningsi" class="badge-avatar" name="Ari" />
            <span class="badge-content">Ari</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_01-02-03.22.11.png" alt="Citrahayu Diat Ningsih" class="badge-avatar" name="Ctra" />
            <span class="badge-content">Citra</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_01-02-03.04.12.png" alt="Sri Munalisa" class="badge-avatar" name="Uli" />
            <span class="badge-content">Sri</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_01-02-03.30.47.png" alt="Farah Khaliida Ilong" class="badge-avatar" name="Long" />
            <span class="badge-content">Farah</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_09-03-07.09.42.png" alt="Asnal" class="badge-avatar" name="Andu" />
            <span class="badge-content">Andu</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_09-03-07.12.03.png" alt="Monika Reva Sasmitha" class="badge-avatar" name="Imonik" />
            <span class="badge-content">Monik</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_09-03-07.13.51.png" alt="Suci Yulkhafidzah" class="badge-avatar" name="Uci" />
            <span class="badge-content">Uci</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_09-03-07.18.26.png" alt="Nazarudin" class="badge-avatar" name="Ayas" />
            <span class="badge-content">Aya</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_09-03-07.20.52.png" alt="Saiful Rahman" class="badge-avatar" name="Saifullo" />
            <span class="badge-content">Ipul</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_09-03-10.45.43.png" alt="Nur Hamsidar" class="badge-avatar" name="Nure" />
            <span class="badge-content">Nur</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-02.16.18.png" alt="Ratih" class="badge-avatar" name="Rat" />
            <span class="badge-content">Rat</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-10.48.12.png" alt="Sulvitriani Abidin" class="badge-avatar" name="Sulvi" />
            <span class="badge-content">Uping</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-10.51.10.png" alt="Zulfa" class="badge-avatar" name="Ufa" />
            <span class="badge-content">Ufa</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-10.52.34.png" alt="Hasniar" class="badge-avatar" name="Abe" />
            <span class="badge-content">Niar</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-10.58.05.png" alt="Putri Ayu Amaliah" class="badge-avatar" name="Pur" />
            <span class="badge-content">Uti</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-11.02.55.png" alt="Risma Dewi" class="badge-avatar" name="Ima" />
            <span class="badge-content">Ima</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-11.05.29.png" alt="Anissah Halid" class="badge-avatar" name="Nisa" />
            <span class="badge-content">Nisa</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-11.10.54.png" alt="Anggun Dwi Aryanti" class="badge-avatar" name="Anggun" />
            <span class="badge-content">Anggun</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-11.16.48.png" alt="Nurain" class="badge-avatar" name="Aine" />
            <span class="badge-content">Ain</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-11.22.31.png" alt="Agung Setiawan" class="badge-avatar" name="Wan" />
            <span class="badge-content">Iwan</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-11.24.04.png" alt="Kaida" class="badge-avatar" name="Ida" />
            <span class="badge-content">Ida</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-11.28.45.png" alt="Ahmad Alhaznawi" class="badge-avatar" name="Emon" />
            <span class="badge-content">Imon</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-11.31.17.png" alt="Aqram Alhidayatullah" class="badge-avatar" name="Aqr" />
            <span class="badge-content">Aqr</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-11.37.12.png" alt="Ikram Odhe" class="badge-avatar" name="Beng" />
            <span class="badge-content">Ikram</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_12-26-11.43.38.png" alt="Yuni Rahmawati" class="badge-avatar" name="Uni" />
            <span class="badge-content">Uni</span>
            <button type="button" class="badge-close">×</button>
          </div>
          <div class="custom-badge">
            <img src="../asset/PicsArt_24-09-28_15-36-57-726.png" alt="Nova Koyla Lalometa" class="badge-avatar" name="Ova" />
            <span class="badge-content">Ova</span>
            <button type="button" class="badge-close">×</button>
          </div>
        </div>
      </div>
      <!-- Tutup MAIN -->
    </main>

    <script src="../js/imgView.js"></script>
  </body>
</html>
