<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KD20 | Strukur Organisasi</title>
    <link rel="stylesheet" href="../css/kd.css" />
  </head>
  <body>
    <nav id="nav">
      <div class="container">
        <div class="menu">
          <h3 class="nav-brand">KD20</h3>
          <ul class="nav-menu">
            <li class="nav-list"><a href="../index.html">Home</a></li>
            <li class="nav-list"><a href="story.html">History</a></li>
            <li class="nav-list"><a href="team.html">Team</a></li>
            <li class="nav-list"><a href="kd.html">Gallery</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Head -->
    <header id="header">
      <div class="container">
        <h1 class="welcome">Welcome to Our Page .....</h1>
      </div>
    </header>

    <main id="main">
      <div class="container">
        <div class="kolom1">
          <h1 class="top-judul">The Structure</h1>
        </div>
      </div>
      <!-- Tutup MAIN -->
    </main>
    <!-- STRUKUR DIVISI -->
    <section id="divisi">
      <div class="container">
        <div class="lead">
          <h2>Leader</h2>
          <img class="cover" src="../img/merah/PicsArt_09-03-07.09.42.webp" alt="Cover Leader" />
        </div>

        <div class="con secret">
          <h2>Sectretaris</h2>
          <img class="cover" src="../img/merah/PicsArt_09-03-07.12.03.webp" alt="Cover Sectretaris" />
        </div>

        <div class="con hara">
          <h2>Bendahara</h2>
          <img class="cover" src="../img/merah/PicsArt_09-03-10.45.43.webp" alt="Cover Bendahara" />
        </div>
        <div class="con colead">
          <h2>Co-Lead</h2>
          <img class="cover" src="../img/merah/PicsArt_12-26-11.39.48.webp" alt="Cover Colead" />
        </div>

        <div class="korlap">
          <h3>Kordinator CEO</h3>
          <img class="cover2" src="../img/merah/PicsArt_12-26-11.31.17.webp" alt="Cover 1" />
          <img class="cover2" src="../img/merah/PicsArt_09-03-07.18.26.webp" alt="Cover 2" />
        </div>
        <div class="another">
          <h5>Another Level</h5>
          <img class="cover1" src="../img/merah/PicsArt_01-02-02.56.08.webp" alt="Cover 3" />
          <img class="cover1" src="../img/merah/PicsArt_01-02-02.59.55.webp" alt="Cover 4" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-10.52.34.webp" alt="Cover 10" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-10.58.05.webp" alt="Cover 11" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-11.02.55.webp" alt="Cover 12" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-11.05.29.webp" alt="Cover 13" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-11.10.54.webp" alt="Cover 14" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-11.16.48.webp" alt="Cover 15" />
          <img class="cover1" src="../img/merah/PicsArt_01-02-03.30.47.webp" alt="Cover 17" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-11.24.04.webp" alt="Cover 16" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-11.43.38.webp" alt="Cover 18" />
          <img class="cover1" src="../img/merah/PicsArt_24-09-28_15-36-57-726.webp" alt="Cover 19" />
          <img class="cover1" src="../img/merah/PicsArt_09-03-07.20.52.webp" alt="Cover 20" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-11.22.31.webp" alt="Cover 21" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-11.37.12.webp" alt="Cover 22" />
          <img class="cover1" src="../img/merah/PicsArt_01-02-02.59.55.webp" alt="Cover 23" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-11.28.45.webp" alt="Cover 24" />
          <img class="cover1" src="../img/merah/PicsArt_01-02-03.11.19.webp" alt="Cover 24" />
          <img class="cover1" src="../img/merah/PicsArt_09-03-07.13.51.webp" alt="Cover 25" />
          <img class="cover1" src="../img/merah/PicsArt_01-02-03.04.12.webp" alt="Cover 26" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-02.16.18.webp" alt="Cover 27" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-10.48.12.webp" alt="Cover 28" />
          <img class="cover1" src="../img/merah/PicsArt_12-26-10.51.10.webp" alt="Cover 29" />
        </div>
      </div>
    </section>
    <!-- AKHIR STRUKUR DIVISI -->
  </body>
</html>
